<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distributed System Simulator</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/styles.css' ) }}" rel="stylesheet">
</head>

<style>
    
</style>

<body>
         
    <div class="navbar">
       
        <label class = "label" id = "directedLabel">Undirected</label>
        <label class="toggle-switch">
            <input id = "directedCheckbox"type="checkbox" />
            <span class="slider"></span>
        </label>
        <button onclick='circle(5)'>Circle</button>
        <button onclick='star(5)'>Star</button>
        <button onclick='step()'>Step</button>
    </div>

    <div class="container">

        <div class="sidebar">
            <div class=editor id="node-editor"> </div>
        </div>

        <div class="graph-area" id=graph-container>
            <svg id="graph_svg" style="display:block;"></svg>
        </div>

        <div class="info-sidebar">
            <div class="editor" id="code-editor"></div>
        </div>

    </div>

</body>

<script src="{{ url_for('static', filename='scripts/scripts.js' ) }}"></script>

<script>

const checkbox = document.getElementById('directedCheckbox');

checkbox.addEventListener('change', (event) => {
  if (event.currentTarget.checked) {
    document.getElementById('directedLabel').innerHTML = "Directed";
  } else {
    document.getElementById('directedLabel').innerHTML = "Undirected";
  }
})

    var node_editor = ace.edit("node-editor");
    node_editor.setTheme("ace/theme/monokai");
    node_editor.session.setMode("ace/mode/javascript");
    node_editor.getSession().on('change', function () {
        update()
    });

    function createGraph(inputEdges) {
        let machines = {};

        inputEdges.forEach(edge => {

            if (edge.length == 1) {
                machines[edge[0]] = {
                    id: edge[0],
                    state: {},
                    neighbors: [],
                    message_stack: []
                };

            }
            else if (edge.length == 2) {
                node1 = edge[0];
                node2 = edge[1];
                machines[node1].neighbors.push(String(node2));
                if(!checkbox.checked){
                machines[node2].neighbors.push(String(node1));
                }
            }

        });

        return machines;
    }

    function update() {
        var val = node_editor.getSession().getValue().trim();
        var edges = val.split('\n').map(x => x.split(' ').map(x => parseInt(x)));
        try {
            var graph = createGraph(edges);
            drawGraph(graph);
        } catch (e) {
            console.log(e);
            console.log(edges);
        }
    }

    function reverseGraph(machines) {
        var nodes = Object.keys(machines);
        var edges = [];
        nodes.forEach(node => {
            machines[node].neighbors.forEach(neighbor => {
                edges.push([neighbor, node]);
            });
        });
        console.log(nodes);
        console.log(edges);
        return nodes.join('\n')+ "\n" + edges.map(x => x.join(' ')).join('\n');
         
    }

    var editor = ace.edit("code-editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/javascript");
    editor.resize();
    editor.setValue(`int leader = 0;
int state = 0;
int id = UID;
int msg;
if(state == 0)
{ 
    state = 1;
    0->id;
}
else
{   
int msg;
if(msgs.length >0)
{
msg = <-msgs;
  if(msg == UID)
  {
      leader = 1;
   }    
   else
   {  
       if(msg >id )
        {          
            0->msg;  
            id = msg;
            
        }   
       
   }
}
}`);

</script>

</html>