<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distributed System Simulator</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/styles.css' ) }}" rel="stylesheet">
</head>

<body>

    <div class="navbar">
        <button onclick='drawGraph(circle(5))'>Circle</button>
        <button onclick='step()'>Step</button>
    </div>

    <div class="container">

        <div class="sidebar">
            <div class = editor id="node-editor"></div>
        </div>

        <div class="graph-area" id=graph-container>
            <svg id="graph_svg" style="display:block;"></svg>
        </div>

        <div class="info-sidebar">
            <div class  = "editor" id="code-editor"></div>
        </div>

    </div>

</body>

<script src="{{ url_for('static', filename='scripts/scripts.js' ) }}"></script>

<script>

    var node_editor = ace.edit("node-editor");
    node_editor.setTheme("ace/theme/monokai");
    node_editor.session.setMode("ace/mode/javascript");
    node_editor.resize();

    var editor = ace.edit("code-editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/javascript");
    editor.resize();
    editor.setValue(`int leader = 0;
int state = 0;
int id = UID;
int msg;
if(state == 0)
{ 
    state = 1;
    0->id;
}
else
{   
int msg;
if(msgs.length >0)
{
msg = <-msgs;
  if(msg == UID)
  {
      leader = 1;
   }    
   else
   {  
       if(msg >id )
        {          
            0->msg;  
            id = msg;
            
        }   
       
   }
}
}`);

</script>

</html>