<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Distributed System Simulator</title>

    <!-- External Libraries -->
    <script src="{{ url_for('static', filename='lib/d3/d3.v7.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/ace/ace.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/ace/ext-language_tools.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/typescript/typescript.min.js') }}"></script>
    
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='lib/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/icons/font/bootstrap-icons.min.css') }}">
    
    <!-- Custom Styles -->
    <link href="{{ url_for('static', filename='styles/styles.css' ) }}" rel="stylesheet">
</head>

<body>
    <!-- Navigation Bar -->
    <div class="navbar"></div>

    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar" id="collapseWidthExample">
            <div>
                <div class="editor" id="node-editor"></div>
            </div>
            
            <!-- Dropdown Menu -->
            <div class="dropdown" style="position:absolute; top: 20px; right: 20px;">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside" title="Create Shape">
                    <i class="bi bi-plus-circle"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <div class="dropdown-header button">
                            <label class="label" >Node count</label>
                            <input type="number" class="form-control" id="nodeInput" value="5" min="1" max="100">
                          
                        </div>
                    </li>
                    <li> <label class="label" id="directedLabel">Directed</label>
                        <label class="toggle-switch">
                            <input id="directedCheckbox" type="checkbox" />
                            <span class="slider"></span>
                        </label></li>
                    <li > <button class="button dropdown-item" onclick='circle_button()'>Circle</button>   </li>
                    <li > <button class="button dropdown-item" onclick='star_button()'>Star</button> </li>
                    <li><button class="button dropdown-item" onclick='full_button()'>Full</button>   </li>
                    <li style = "display: flex; justify-content: space-between;">
                        <button class="button dropdown-item" onclick='random_button()'>Random</button>
                        <input type="number" class="form-control" id="completeInput" step = "0.05" value="0.75" min="0" max="1"> 
                    </li>
                </ul>
                <button class="btn btn-primary" onclick="randomise_button()" type="button" title="Randomise UIDs">
                    <i class="bi bi-dice-6"></i>
                </button>
              
            </div>
            <div  style="position:absolute; top: 62px; right: 20px;">
                <button class="btn btn-primary" onclick='freeze_button()' title="Freeze"><i class="bi bi-thermometer-snow"></i></button>
                <button class="btn btn-primary" onclick='unfreeze_button()' title="Unfreeze"><i class="bi bi-thermometer-sun"></i></button>
        </div>
        </div>

        <!-- Graph Area -->
      
        <div class="graph-area" id="graph-container">
            <svg id="graph_svg" style="display:block;" ></svg>
        </div>

       

        <!-- Info Sidebar -->
        <div class="info-sidebar " id="collapseWidthExample">
            <div>
                <div class="editor" id="code-editor"></div>
            </div>
            
            <!-- Offcanvas Sidebar -->
            <div style="position:absolute; top: 20px; right: 20px;">
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#VariablePinOffCanvas" aria-controls="VariablePinOffCanvas" title="Pin Variables">
                    <i class="bi bi-pin-angle-fill"></i>
                </button>

                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#SaveOffCanvas" aria-controls="SaveOffCanvas" title="Save">
                <i class="bi bi-list"></i>
            </button>
            <button class="btn btn-primary"  onclick="save_button()" type="button" >
                <i class="bi bi-floppy"></i>
            </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="VariablePinOffCanvas" aria-labelledby="VariablePinOffCanvasLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="VariablePinOffCanvasLabel">Choose variables to pin</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body" id='variable-list'></div>
                </div>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="SaveOffCanvas" aria-labelledby="SaveOffCanvasLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="SaveOffCanvasLabel">Saved files</h5>
                       
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">

                    {% for file in files %}
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <span>{{ file }}</span>
                        <div>
                            <button class="btn btn-primary btn-sm" onclick="load_file('{{ file }}')" title="Load File">
                                <i class="bi bi-folder2-open"></i>
                            </button>
                            <button class="btn btn-danger btn-sm" onclick="delete_file('{{ file }}')" title="Delete File">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>
                    {% endfor %}
                    


                    </div>
                </div>
            </div>
        </div>

      
    </div>
    <div class="footer">
        <div id = "start_div">
        <button class="btn btn-primary" onclick='start_simulation_button()' title="Run Simulation">Run Simulation</i></button>
        </div>

        <div hidden id = "running_div">

            <label class="label" id="stepLabel">Step 0/0</label>
            <button class="btn btn-primary" onclick='step_button("start")' title="Step Start"><i class="bi-skip-start"></i></button>
            <button class="btn btn-primary" onclick='step_button("backward")' title="Step Back"><i class="bi-caret-left"></i></button>
            <label class="toggle-switch">
                <input id="playCheckbox" type="checkbox" onchange="togglePlayPause(this)" />
                <span id="playSlider" class="slider" title="Play/Pause">
                    <i class="bi bi-play-fill" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);"></i>
                </span>
            </label>
            <button class="btn btn-primary" onclick='step_button("forward")' title="Step Forward"><i class="bi-caret-right"></i></button>
            <button class="btn btn-primary" onclick='step_button("end")' title="Step End"><i class="bi-skip-end"></i></button>
            <button class="btn btn-primary" onclick='stop_simulation_button()' title="Stop Simulation"><i class="bi bi-trash"></i></button>
        </div>
    </div>
   <div id= "alertPlaceholder"></div>
    <!-- Bootstrap JS -->
    <script src="{{ url_for('static', filename='lib/bootstrap/bootstrap.bundle.min.js') }}"></script>
    <!-- Custom Scripts -->
    <script src="{{ url_for('static', filename='dist/index.js' ) }}"></script>
    <script src="{{ url_for('static', filename='dist/graph_drawing.js' ) }}"></script>
    <script src="{{ url_for('static', filename='dist/graph_update.js' ) }}"></script>
    <script src="{{ url_for('static', filename='dist/graph_shapes.js' ) }}"></script>
    <script src="{{ url_for('static', filename='dist/graph_node.js' ) }}"></script>
    <script src="{{ url_for('static', filename='dist/network_comm.js' ) }}"></script>
    <script src="{{ url_for('static', filename='dist/code_editor.js' ) }}"></script>
    <script src="{{ url_for('static', filename='dist/node_editor.js' ) }}"></script>
    <script src="{{ url_for('static', filename='dist/machine.js' ) }}"></script>
    <script src="{{ url_for('static', filename='dist/distributed_system.js' ) }}"></script>
    <script src="{{ url_for('static', filename='dist/toolbar.js' ) }}"></script>
    
</body>
</html>
