.link {
    stroke: #999;
    stroke-opacity: 0.6;
    stroke-width: 2px;
}

.node {
    width: auto;
    height: auto;
    position: absolute;
    z-index: 1;
    min-width: 100px;
}

foreignObject {
    overflow: visible;
}

.card {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
}


#graph_svg {
    width: 100%;
    height: 100%;
}

.bootstrap-card {
    display: inline-block;
    width: 100%;
}

#graph-container {
    position: relative;
    width: 100%;
    height: 80vh;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}


.editor {
    height: 80vh;
    width: auto;
}


.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: none;
    margin-top: 20px;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
}


.navbar {
    justify-content: center;
    gap: 10px;
    background: #222;
    padding: 10px;
}

.navbar button {
    background: #444;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.sidebar {
    width: 20%;
    padding: 10px;
    background: #f4f4f4;
}

.graph-area {
    flex: 1;
    display: flex;

    border: 1px solid #ccc;
    min-height: 400px;
    background: white;
}

.info-sidebar {
    width: 30%;
    padding: 10px;
    background: #f4f4f4;
}
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Hide default checkbox */
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.label {
    color :#ccc;
}
/* The track */
.slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 24px;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;
}

/* The circular slider */
.slider::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

/* Toggled state */
.toggle-switch input:checked+.slider {
    background-color: #4caf50;
}

.toggle-switch input:checked+.slider::before {
    transform: translateX(26px);
}
